#hi_there {
  color: rgba(237, 169, 68, .8);
  font-size: 7.5rem;
  position: relative;
  top: 3rem;
}

#thanks_for {
  font-size: 4.875rem;
  padding: 1rem 0 5rem 0;
  position: relative;
  top: 3rem;
}

.intro_sentence{
  font-size: 1.2rem;
  line-height: 2rem;
}

.about_specs .text_container {
  padding: 2rem 1rem;
}
.about_specs h3 {
  font-size: 4rem;
}

.about_specs h4 {
  font-size: 1.2rem;
  line-height: 2.5rem;
  position: relative;
}

.about_specs p {
  font-size: 1.125rem;
  line-height: 2rem;
}

#WIU_subheading {
  padding-bottom: 4.5rem;
}

.tools_list {
  display: inline-block;
  height: auto;
  padding: .3rem;
  width: 3.5rem;;
}

.tools_wrapper {
  display: block;
  position: absolute;
  left: 2rem;
}

#check_out {
  font-size: 4.625rem;
}

#my_work {
  color: rgba(237, 169, 68, .8);
  font-size: 4.625rem;
  padding: 1rem 0;
  text-align: right;
}

.remkeep_project{
  padding: 0;
  margin: 0;
}

.remkeep_container {
  margin: auto;
  width: 22rem;
}

.remkeep_project img{
  display: inline-block;
  height: auto;
  position: relative;
  left: 1rem;
  margin-right: 1rem;
  width: 9.5rem;
}

.remkeep_half_container{
  display: inline-block;
  width: 50%;
  position: relative;
  top: -6rem;
  z-index: 1;
}

.remkeep_project_text {
  display: block;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.remkeep_project .button{
  margin: 0;
}

.remkeep_roles_subtitle{
  display: block;
  height: auto;
  margin: auto;
  padding-bottom: 1.5rem;
  width: 90%;
}
