.home_hero_mobile{
  background-image: url("../images/profile.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 100rem rgba(8, 137, 201, .4);
  width: 100%;
}

.home_hero_mobile svg{
  fill: rgba(173, 228, 255, .8);
  fill: var(--light-blue);
  height: auto;
  padding: 1.5rem 0;
  position: relative;
  min-width: 100%;
}

#thinker svg{
  animation-name: fade-in;
  animation-delay: .5s;
  animation-duration: 1.5s;
  animation-fill-mode: backwards;
  top: 3rem;
  margin-bottom: 3rem;
}

#creator {
  animation-name: fade-in;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: backwards;
}

#dreamer {
  animation-name: fade-in;
  animation-delay: 1.5s;
  animation-duration: 2s;
  animation-fill-mode: backwards;
}

#designer {
  animation-name: fade-in;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: backwards;
}

.landing_intro{
  padding: 5rem 1rem;
}

.intro_container {
  display: block;
  margin: auto;
  width: 90%;
  max-width: 17rem;
}

.intro_container p{
  font-family: "PT Serif", Times, serif;
  font-size: 1.2rem;
  line-height: 4rem;
  white-space: nowrap;
}

.intro_container span{
  font-size: 2rem;
}

.highlight_text{
  color: rgba(255, 0, 108, 1);
  color: var(--highlight-color);
}

.landing_about {
  padding: 0;
}

.landing_about .yellow_bg {
  padding-bottom: 1rem;
}

.landing_about svg {
  fill: rgba(237, 169, 68, .4);
  fill: var(--yellow-text);
  height: auto;
  width: 100%;
}

.landing_about .Profile_round {
  display: block;
  padding: 2rem 1rem 0 1rem;
  margin: auto;
  width: 12rem;
}

.landing_about .text_container {
  width: 80%;
}

.landing_about ul {
  margin: auto;
  padding-bottom: 1rem;
  width: 22rem;
}

.landing_about .tools_list {
  display: inline-block;
  height: 2rem;
  padding: .5rem;
  width: 3rem;
}

.landing_about .tools_icon {
  display: inline-block;
  margin: 0 .5rem;
  position: relative;
  top: .7rem;
  width: 3rem;
}

.landing_about .button_container {
  margin-bottom: 0;
}

/* About the process section */
.landing_process {
  margin: 0;
  padding: 0 0 1rem 0;
}

.landing_process img {
  display: block;
  margin: auto;
  padding: 2rem 1rem 1rem 1rem;
  width: 75%;
}

@media screen and (max-width: 899px) {
  #menu_desktop {
    display: none;
  }

  .home_hero_mobile .intro_container {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .home_hero_mobile{
    background: rgba(255, 233, 207, 1);
    background: var(--yellow-bg-color);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    height: 46vw;
    overflow: hidden;
    position: relative;
  }

  .home_hero_mobile svg{
    fill: rgba(237, 169, 68, .2);
    padding: 0;
    position: relative;
    top: -.5rem;
    width: auto;
  }

  #thinker svg{
    height: 9vw;
    margin-bottom: .5rem;
    right: 10rem;
    top: -.5rem;
  }

  #creator svg{
    height: 9vw;
    margin-bottom: 2rem;
    right: -24vw;
  }

  #dreamer svg{
    height: 10vw;
    margin-bottom: 2rem;
    right: 10rem;
  }

  #designer svg{
    height: 10vw;
    right: -18vw;
  }

  /** position personal intro in hero **/
  .intro_container {
    animation-name: fade-in;
    animation-delay: 1.5s;
    animation-duration: 2.5s;
    animation-fill-mode: backwards;
    display: block;
    margin: auto;
    position: absolute;
      top: 15vw;
      right: 8vw;
    width: auto;
    max-width: 21rem;
  }

  .intro_container p{
    font-family: "PT Serif", Times, serif;
    font-size: 2.2vw;
    line-height: 4.4vw;
  }

  .intro_container span{
    font-size: 3.2vw;
  }

  /** Hides mobile personal intro **/
  .landing_intro {
    display: none;
  }

  /** Landing page "About" section **/
  .landing_about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .landing_about .yellow_bg{
    grid-column: 1;
    overflow: hidden;
    position: relative;
  }

  #about {
    color: rgba(237, 169, 68, .4);
    font-size: 14vw;
    position: relative;
      left: -2vw;
      top: -2vw;
  }

  #me {
    font-size: 14vw;
    position: absolute;
      right: -2vw;
      top: 5vw;
  }

  .profile {
    background-image: url("../images/profile.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2;
  }

  .landing_about .text_container {
    margin: 1.5vw auto;
    width: 16rem;
  }

  .landing_about ul {
    padding-left: .5rem;
  }

  .landing_about .button{
    margin: 1rem auto;
  }

  /* About the process section */
  .landing_process {
    padding: 0;
  }

  .landing_process .process_image {
    background-color: rgba(242, 242, 242, 1);
    background-color: var(--grey-bg-color);
    grid-column: 1 / span 6;
    grid-row: 1;
    z-index: 1;
  }

  .landing_process img {
    padding: 4rem 0;
    max-width: 40vw;
    width: auto;
  }

  .landing_process_title, .text_container, .button_container {
    grid-column: 7 / span 6;
    grid-row: 1;
  }

  #the {
    color: rgba(173, 228, 255, .5);
    font-size: 14vw;
    position: relative;
      left: -2vw;
      top: -1.5vw;
  }

  #process {
    color: rgba(173, 228, 255, .8);
    font-size: 14vw;
    position: relative;
    right: -4vw;
    top: -6.5vw;
  }

  .landing_process .text_container{
    align-self: center;
    margin: auto;
    max-width: 16rem;
    padding-top: 9rem;
  }

  .landing_process .button_container {
    align-self: end;
    margin-bottom: 1rem;
  }

  .landing_process .button{
    margin: 1rem auto;
  }
}

@media screen and (min-width: 1024px) {
  .profile {
    height: auto;
    width: 100%;
  }
}
