.remkeep_title {
  padding: 4rem 0 0 0;
}

.remkeep_header {
  background-image: url("../images/Remkeep/mobile_preview.png");
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: 57% 80%;
  box-shadow: inset 0 0 0 100rem rgba(8, 137, 201, .8);
  padding-bottom: 1rem;
  width: 100%;
}

.aside_text {
  display: block;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 2.5rem;
  margin: 2rem auto;
  padding: 2rem 10vw;
  max-width: 26rem;
}

.specs {
  padding-bottom: 4rem;
}

.specs .text_container {
  display: inline-block;
  margin: 0 0 0 4rem;
  padding: 0;
}

.objective .text_container{
  padding-top: 2rem;
}

.problem {
  padding-bottom: 1rem;
}

.solution {
  background: rgba(242, 242, 242, 1);
  background: var(--grey-bg-color);
}

.process_aside {
  background-image: url("../images/Remkeep/process_flow_mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.survey_section{
  background-image: url("../images/Remkeep/survey_mobile_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 100rem rgba(254, 226, 191, .8);
}

.survey_section h3{
  color: rgba(237, 169, 68, .4);
  color: var(--yellow-text);
  margin-bottom: 2rem;
}

.survey_section h4 {
  font-size: 1.5rem;
  padding: 0;
}

.survey_section li p {
  line-height: 1.5rem;
  padding-top: 3.2rem;
  position: relative;
    left: 5rem;
  z-index: 1;
}

.percent_highlight {
  color: rgba(237, 169, 68, .8);
  font-family: "Song Myung", Georgia, serif;
  font-size: 5rem;
  position: absolute;
}

.survey_section ul {
  display: block;
  width: 90%;
  max-width: 21rem;
}

.survey_section li {
  margin: 1rem 0;
  position: relative;
  max-width: 21rem;
}

.persona_table {
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: auto auto auto;
  margin: 0 auto 1rem auto;
  width: 90%;
}

.persona_img {
  grid-column: 1;
  grid-row: 1;
}

.persona_name {
  align-self: end;
  grid-column: 1;
  grid-row: 1;
}

.persona_name svg {
  height: 1.6rem;
  width: auto;
}

.persona_quote {
  background-color: rgba(53, 118, 149, 1);
  background-color: var(--dark-blue);
  color: #ffffff;
  grid-column: 2;
  grid-row: 1;
  padding: .5rem;
}

.persona_quote p {
  font-family: "PT Serif", Times, serif;
}

.persona_goals {
  grid-column: 1 / span 2;
  grid-row: 2;
  padding: 0 1rem 1rem 1rem;
}

.persona_frustrations {
  background-color: rgba(156, 207, 232, .25);
  grid-column: 1 / span 2;
  grid-row: 3;
  padding: 0 1rem 1rem 1rem;
}

.persona_table ol {
  padding: 0 0 0 2rem;
}

.user_stories_flows {
  background-image: url("../images/Remkeep/user_sf_img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 100rem rgba(40, 85, 107, .9);
  color: #ffffff;
  overflow: hidden;
}

.site_map {
  padding: 1rem;
}

.user_testing_heading {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
  padding: 0;
  position: relative;
}

.user_testing_img1 {
  background-image: url("../images/Remkeep/user_testing_img1.jpg");
}

.user_testing_img2{
  background-image: url("../images/Remkeep/user_testing_img2.jpg");
}

.user_testing_heading h3 {
  color: rgba(173, 228, 255, .8);
  color: var(--light-blue);
  bottom: -3px;
  position: absolute;
}

.brand_strategy_heading {
  background-image: url("../images/Remkeep/brand_strategy_img_mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 100rem rgba(43, 91, 113, .8);
  color: #ffffff;
  overflow: hidden;
}

.brand_strategy_heading h3 {
  color: rgba(173, 228, 255, .8);
  color: var(--light-blue);
}

.logo_sketches {
  overflow: hidden;
}

.logo_sketches img {
  height: 20rem;
  width: auto;
}

.logo_development {
  margin: auto;
  padding: 2rem 0;
  width: 90%;
}

.logo_development img {
  padding-bottom: 1rem;
}

.logo_development figcaption {
  color: rgba(0, 0, 0, .2);
  font-family: "Song Myung", Georgia, serif;
  font-size: 1.5rem;
}

.HF_prototypes {
  background-color: rgba(156, 207, 232, .25);
}

.HF_prototypes svg,
.HF_prototypes h3 {
  color: rgba(53, 118, 149, .3);
  fill: rgba(53, 118, 149, .3);
}

.prototypes {
  background-color: rgba(8, 137, 201, 1);
  background-color: var(--blue-bg-color);
  padding-bottom: 1rem;
}

.laptop_img {
  margin: auto;
  padding-top: 2rem;
  width: 90%;
}

.mobile_img {
  padding-top: 1rem;
}

.mobile_img img{
  height: 22.5rem;
  margin: auto;
  position: relative;
  left: 10px;
  width: auto;
}

.pt_overlay {
  position: relative;
  margin: 1rem 0;
}

.num_overlay {
  color: rgba(173, 228, 255, .8);
  color: var(--light-blue);
  display: block;
  font-family: "Song Myung", Georgia, serif;
  font-size: 3rem;
  position: absolute;
  bottom: -.2rem;
}

.pt_mobile {
  background-color: rgba(53, 118, 149, 1);
  background-color: var(--dark-blue);
  margin-top: 1rem;
  padding: 1rem 0;
}

.pt_mobile img {
  box-shadow: 6px 8px 4px 0px rgba(0, 0, 0, .25);
  margin: 1rem auto;
  width: 75%;
}

.HF_changes .grey_bg {
  padding-bottom: 1rem;
}

.branding_update {
  padding: 0;
}

.branding_update_text {
  background-color: rgba(242, 242, 242, 1);
  background-color: var(--grey-bg-color);
  padding-bottom: 1rem;
}

.conclusion svg {
  height: auto;
  margin-bottom: 1rem;
  width: 100%;
}

.what_I_learned h3 {
  font-size: 5rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 600.5px) {
  .HF_prototypes h3 {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 900px) {
  nav a {
    color: rgba(255, 255, 255, .8);
  }

  .grid h4 {
    grid-column: 1 / span 7;
    grid-row: 1;
  }

  .heading_side_text {
    grid-column: 8 / span 4;
    grid-row: 1;
    margin-bottom: 2rem;
  }

  .grid_half_1 {
    grid-column: 1 / span 6;
  }

  .grid_half_2 {
    grid-column: 7 / span 6;
  }

  .aside_text {
    font-size: 2.4vw;
    line-height: 3.8vw;
    margin: 2rem 0 0 11vw;
    padding: 0;
  }

  /* Header */
  .remkeep_title {
    height: 12vw;
    padding: 0;
    position: relative;
      left: 0;
      top: -.8vw;
    width: auto;
    min-width: 53%;
  }

  .remkeep_header {
    background-image: none;
  }

  .prototype_links {
    display: flex;
    flex-wrap: wrap;
  }

  .prototype_links .button {
    display: inline-block;
    margin: auto;
  }

  .prototype_1, .prototype_2 {
    flex: 1 0 auto;
    padding: 4vw;
    text-align: center;
  }

  .laptop_img, .mobile_img {
    height: 32vw;
    margin: auto;
    padding: 0 0 3vw 0;
    width: auto;
  }

  .mobile_img {
    position: relative;
    left: 1vw;
  }

  /* Specs and Objective */
  .specs {
    grid-column: 8 / span 5;
    grid-row: 1;
  }

  .objective {
    background: #ffffff;
    color: #000000;
    grid-column: 1 / span 7;
    grid-row: 1;
  }

  .objective h3 {
    color: rgba(53, 118, 149, .3);
  }

  /* Problem and Solution */
  .problem {
    background: rgba(156, 207, 232, .25);
    grid-column: 1 / span 6;
    margin: 0;
  }

  .solution {
    background: #ffffff;
    grid-column: 7 / span 6;
    padding-bottom: 1rem;
  }

  /* Process Title Section */
  .process_aside {
    background-image: url("../images/Remkeep/process_flow_desktop.png");
    padding-bottom: 2rem;
  }

  .process_aside .full_width_text {
    width: 60%;
  }

  .process_aside .aside_text {
    padding: 2rem 0;
  }

  /* Competitive Analysis */
  .competitive_analysis {
    padding-bottom: 4rem;
  }

  /* Survey Section */
  .survey_section {
    background-image: url("../images/Remkeep/survey_desktop_bg.png");
  }

  .survey_section .text_container {
    grid-column: span 4;
    margin-top: 0;
    width: 90%;
  }

  .survey_section h4 {
    font-size: calc(1rem + 1.5vw);
  }

  .survey_heading_1 {
    max-width: 8em;
  }

  .survey_section span {
    font-size: 2.5vw;
  }

  .survey_section p {
    font-size: 1.75vw;
    line-height: 5vw;
  }

  /* User Personas */
  .personas {
    padding-bottom: 3rem;
  }

  .persona_table {
    grid-column: span 6;
    grid-template-rows: minmax(auto, 10rem) auto auto;
  }

  .persona_quote {
    padding: 1.2vw;
  }

  /* User Stories and User Flows */
  .user_stories_flows .grid_half_2 .button {
    margin-top: 3.4rem;
  }

  /* Content Strategy */
  .site_map {
    align-self: center;
    grid-column: 7 / span 6;
    grid-row: 1;
  }

  .content_strategy {
    grid-column: 1 / span 6;
    grid-row: 1;
    padding-bottom: 2rem;
  }

  .content_strategy .text_container {
    margin-bottom: 0;
  }

  .content_strategy .button {
    margin: 1rem auto 2rem auto;
  }

  /* Wireframes */
  .wireframes_heading {
    position: relative;
  }

  .wireframes_heading h3 {
    color: rgba(173, 228, 255, .8);
    color: var(--light-blue);
    margin-bottom: 0;
    position: absolute;
      bottom: 0;
  }

  .wireframes img {
    height: 12rem;
    margin-bottom: 2rem;
    position: relative;
      right: 1rem;
    width: auto;
  }

  .wireframes_content {
    background-color: rgba(156, 207, 232, .25);
  }

  .wireframes .grid_half_1,
  .wireframes .grid_half_2 {
    margin-top: 4rem;
    padding-top: 0;
  }

  /* User Testing Round 1 */
  .user_testing_heading h3 {
    margin-bottom: 0;
  }

  .user_testing h4 {
    grid-column: 1 / span 12;
  }

  .user_testing table{
    table-layout: fixed;
    margin: 2rem 0 0 0;
  }

  .user_testing th {
    width: 50%;
  }

  .UT_grid_1 {
    grid-column: 1 / span 6;
    grid-row: 2;
    margin-top: 0;
    padding-right: 1rem;
  }

  .UT_grid_2 {
    grid-column: 6 / span 7;
    grid-row: 2;
    margin: 0 0 0 1rem;
  }

  .UT_grid_3 {
    background-color: rgba(156, 207, 232, .25);
    grid-column: 1 / span 12;
    grid-row: 3;
  }

  .UT_grid_3 .text_container {
    align-self: center;
    grid-column: 1 / span 6;
    grid-row: 1;
    padding-right: 2rem;
  }

  .UT_grid_3 table {
    grid-column: 6 / span 7;
    grid-row: 1;
    margin-bottom: 2rem;
  }

  .UT_grid_3 table tr:nth-child(even) {
    background-color: #fff;
  }

  .UT_grid_3 table tr:nth-child(odd) {
    background-color: rgba(242, 242, 242, 1);
  }

  .UT_grid_4 {
    grid-column: 1 / span 12;
    grid-row: 4;
    padding-left: 11vw;
  }

  .UT_grid_4 .text_container {
    margin-left: 0;
    padding-bottom: 0;
    max-width: 26rem;
  }

  .UT_grid_4 .button {
    margin-bottom: 4rem;
    margin-left: 0;
  }

  /* Brand Strategy heading */
  .brand_strategy_heading {
    background-color: rgba(53, 118, 149, 1);
    background-color: var(--dark-blue);
    background-image: none;
    padding-bottom: 2rem;
  }

  .brand_strategy_heading .aside_text {
    padding: 2rem 0;
  }

  /* Logo section */
  .logo_sketches {
    grid-column: 6 / span 7;
    grid-row: 1;
  }

  .logo_text {
    grid-column: 1 / span 5;
    grid-row: 1;
  }

  /* Color palette */
  .color_palette_img {
    grid-column: 1 / span 7;
    grid-row: 2;
  }

  .color_text {
    grid-column: 8 / span 5;
    grid-row: 2;
  }

  /* High Fidelity Prototypes */
  .HF_prototypes {
    padding-bottom: 1rem;
  }

  .HF_prototypes h3 {
    grid-column: 1 / span 12;
    grid-row: 1;
  }

  .HF_grid_1 {
    grid-column: 1 / span 6;
    grid-row: 2;
    margin-top: 0;
    padding-right: 1rem;
  }

  .HF_grid_2 {
    grid-column: 6 / span 7;
    grid-row: 2;
    margin: 0 0 0 1rem;
  }

  .visual_changes {
    grid-column: 6 / span 7;
    grid-row: 2;
  }

  .visual_changes img {
    display: inline;
  }

  #prototype_links {
    padding: 2rem 0;
  }

  /* Preference Testing */
  .PT_1 {
    background-color: rgba(156, 207, 232, .25);
    grid-column: 1 / span 5;
    grid-row: 1;
  }

  .pt_desktop_img1 {
    align-items: center;
    background-color: rgba(156, 207, 232, .25);
    display: grid;
    grid-column: 6 / span 7;
    grid-row: 1;
  }

  .PT_2 {
    grid-column: 8 / span 5;
    grid-row: 2;
    padding-bottom: 2rem;
  }

  .pt_desktop_img2 {
    align-self: center;
    grid-column: 1 / span 7;
    grid-row: 2;
  }

  /* Changes to the High Fidelity Mockup */
  .HF_changes picture {
    grid-column: 1 / span 12;
    grid-row: 1;
  }

  .HF_changes img {
    margin: auto;
    padding: 2rem 0;
    width: 90%;
  }

  .branding_update_text {
    background-color: rgba(255, 233, 207, 1);
    background-color: var(--yellow-bg-color);
    grid-column: 1 / span 6;
    grid-row: 1;
  }

  .branding_update_img {
    align-self: center;
    grid-column: 7 / span 6;
    grid-row: 1;
  }

  /* conclusion section */
  .screenshots {
    background-color: rgba(8, 137, 201, 1);
    background-color: var(--blue-bg-color);
    padding: 5vw;
  }

  .conclusion {
    background-color: rgba(242, 242, 242, 1);
    background-color: var(--grey-bg-color);
    grid-column: 1 / span 6;
    grid-row: 1;
    padding-bottom: 2rem;
  }

  .conclusion p {
    color: #000000;
  }

  .what_I_learned {
    grid-column: 7 / span 6;
    grid-row: 1;
    padding-bottom: 1rem;
  }

  .conclusion h3, .what_I_learned h3 {
    font-size: 7vw;
    padding: 2rem 0 1rem 0;
  }

  .conclusion h3 {
    color: rgba(53, 118, 149, .3);
  }
}
