.aside_text {
  display: block;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 2.5rem;
  margin: 2rem auto;
  padding: 2rem 0;
  width: 18em;
  max-width: 90%;
}

.remkeep_header {
  background-image: url("../images/Remkeep/mobile_preview.png");
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: 50% 80%;
  box-shadow: inset 0 0 0 100rem rgba(8, 137, 201, .8);
  padding-bottom: 1rem;
  width: 100%;
}

.remkeep_header h3 {
  margin: 0;
}

.remkeep_header img {
  grid-row: 1 / span 3;
}

.remkeep_header .aside_text {
  grid-row: 1;
  margin-top: 0;
}

.objective .text_container {
  padding-top: 2rem;
}

.specs {
  padding: 2rem 0 4rem 0;
}

.specs .text_container {
  align-items: baseline;
  display: flex;
  padding: 0;
}

.specs p {
  display: block;
  margin: 0 2rem;
}

.problem {
  padding-bottom: 1rem;
}

.solution {
  background: rgba(156, 207, 232, .25);
}

.process_aside {
  background-image: url("../images/Remkeep/process_flow_mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.process_aside span {
  display: block;
  font-style: italic;
  text-align: right;
  position: relative;
  right: 2rem;
}

/* User Surveys */
.survey_section .text_container {
  padding: 0;
}

.survey_section .mobile_display img{
  margin: auto;
  width: 80%;
}

.survey_graph_1 {
  padding: 2rem 0 4rem 0;
}


/* User Personas */
.persona_table {
  margin: 0 auto 1rem auto;
  width: 20rem;
  max-width: 90%;
}

.persona_table h5 {
  padding-left: 1rem;
}

.persona_table_top {
  display: flex;
}

.persona_img {
  flex: 0 1 auto;
  overflow: hidden;
  height: 11.2rem;
  width: 40%;
}

.persona_img img {
  position: relative;
    left: -.25rem;
    top: -1rem;
  width: calc(100% + .5rem);
}

.persona_quote {
  background-color: rgba(53, 118, 149, 1);
  background-color: var(--dark-blue);
  color: #ffffff;
  flex: 1 1 auto;
  padding: .5rem;
  width: 60%;
}

.persona_quote h4 {
  line-height: normal;
  padding: 0;
}

.persona_quote p {
  line-height: normal;
}

.persona_goals {
  padding: 0 1rem 1rem 1rem;
}

.persona_frustrations {
  background-color: rgba(156, 207, 232, .25);
  padding: 0 1rem 1rem 1rem;
}

.persona_table ol {
  padding: 0 0 0 2rem;
}

/* User Stories and User Flows */
.user_stories_flows {
  background-image: url("../images/Remkeep/user_sf_img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 100rem rgba(40, 85, 107, .9);
  color: #ffffff;
  overflow: hidden;
  padding-bottom: 4rem;
}

#user_stories_button,
#user_flows_button {
  margin: auto;
}

/* Content Strategy */
.content_strategy {
  padding-top: 2rem;
}

.content_strategy .text_container,
.content_strategy .text_container h4 {
  padding-top: 0rem;
}

.site_map {
  padding: 1rem;
}

/* User Testing */
.user_testing_heading {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
  padding: 0;
  position: relative;
}

.user_testing_img1 {
  background-image: url("../images/Remkeep/user_testing_img1.jpg");
}

.user_testing_img2{
  background-image: url("../images/Remkeep/user_testing_img2.jpg");
}

.user_testing_heading h2 {
  color: rgba(173, 228, 255, .8);
  color: var(--light-blue);
  bottom: 0;
  margin-bottom: 0;
  position: absolute;
}

.user_testing {
  padding-bottom: 3rem;
}

/* Brand Strategy */
.brand_strategy_heading {
  background-image: url("../images/Remkeep/brand_strategy_img_mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 100rem rgba(43, 91, 113, .8);
  color: #ffffff;
  overflow: hidden;
}

.brand_strategy_heading img {
  grid-column: 1 / span 12;
}

.brand_strategy_heading h3 {
  color: rgba(173, 228, 255, .8);
  color: var(--light-blue);
  grid-column: 1 / span 12;
  margin-left: 0;
  padding-top: 0;
}

.logo_text {
  padding: 0;
}

.logo_sketches {
  overflow: hidden;
}

.logo_sketches img {
  height: 20rem;
  width: auto;
}

.logo_development {
  margin: auto;
  padding: 4rem 0;
  width: 90%;
}

.logo_development img {
  padding-bottom: 1rem;
}

.logo_development figcaption {
  color: rgba(0, 0, 0, .2);
  font-family: "Song Myung", Georgia, serif;
  font-size: 1.5rem;
}

.HF_prototypes {
  background-color: rgba(156, 207, 232, .25);
}

.HF_prototypes svg,
.HF_prototypes h3 {
  color: rgba(53, 118, 149, .75);
  fill: rgba(53, 118, 149, .75);
}

.prototypes {
  background-color: rgba(8, 137, 201, 1);
  background-color: var(--blue-bg-color);
  padding-bottom: 1rem;
}

.laptop_img {
  margin: auto;
  padding-top: 2rem;
  width: 90%;
}

.mobile_img {
  padding-top: 1rem;
}

.mobile_img img{
  height: 22.5rem;
  margin: auto;
  position: relative;
  left: 10px;
  width: auto;
}

/* Preference Testing */

.PT_overlay {
  display: grid;
}

.overlay_1,
.overlay_1_num {
  grid-column: 1;
  grid-row: 1;
}

.overlay_2,
.overlay_2_num {
  grid-column: 1;
  grid-row: 2;
}

.overlay_1_num,
.overlay_2_num {
  align-self: end;
  color: rgba(173, 228, 255, .8);
  color: var(--light-blue);
  display: block;
  font-family: "Song Myung", Georgia, serif;
  font-size: 3rem;
}

.PT_1 h4,
.PT_2 h4 {
  padding-top: 0;
}

.pt_mobile {
  background-color: rgba(53, 118, 149, 1);
  background-color: var(--dark-blue);
  padding: 1rem;
}

.pt_mobile img {
  box-shadow: 6px 8px 4px 0px rgba(0, 0, 0, .25);
  margin: 1rem auto;
  width: 20rem;
  max-width: 90%;
}

.center_text {
  background-color: #ffffff;
  padding-top: 2rem;
}

/* User Testing 2 */
.cell_full .button {
  grid-row: 2;
  margin-left: 0;
  padding: 0;
}

/* High Fidelity Changes */
.HF_changes {
  padding-bottom: 0
}

.visual_changes {
  margin: auto;
  padding-bottom: 4rem;
  width: 90%;
}

.branding_update {
  padding-bottom: 4rem;
}

.branding_update .text_container,
.branding_update .text_container h4 {
  padding: 0;
}

.conclusion {
  padding-bottom: 3rem;
}

.conclusion svg {
  height: auto;
  margin-bottom: 1rem;
  width: 100%;
}

.what_I_learned h3 {
  font-size: 5rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 600.5px) {
  .HF_prototypes h3 {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 900px) {
  nav a {
    color: rgba(255, 255, 255, .8);
  }

  nav {
    grid-column: 1 / span 12;
  }

  h4 {
    grid-column: 2 / span 6;
    grid-row: 1;
  }

  /* General text formatting */
  .heading_text {
    grid-column: 2 / span 6;
    grid-row: 1;
    margin: 0;
  }

  .aside_text {
    font-size: 2.4vw;
    line-height: 3.8vw;
    padding: 0;
    max-width: 15em;
  }

  .text_container {
    padding: 0;
  }

  .grid .text_container {
    padding-bottom: 2rem;
  }

  /* Header */
  header {
    padding-top: 14vw;
  }

  .remkeep_header {
    background-image: none;
    padding-bottom: 3rem;
  }

  .remkeep_title {
    grid-column: 1 / span 6;
    grid-row: 1;
    height: 12vw;
    padding: 0;
    position: relative;
      left: 0;
      top: -.8vw;
    width: auto;
    min-width: 53%;
  }

  .remkeep_header .aside_text {
    grid-column: 8 / span 5;
    grid-row: 1;
    margin: 0;
  }

  .objective {
    grid-row: 3;
    padding-top: 6rem;
  }

  .objective .text_container {
    padding: 0;
    width: 100%;
    max-width: 100%;
  }

  /* Specs and Objective */
  .specs {
    background-color: rgba(156, 207, 232, .25);
    padding-bottom: 2rem;
  }

  .specs h4 {
    padding: 0;
  }

  .roles {
    grid-column: 3 / span 4;
    grid-row: 1;
  }

  .tools_title {
    grid-column: 7;
    grid-row: 1;
  }

  .tools {
    grid-column: 8 / span 4;
    grid-row: 1;
  }

  .specs p {
    display: block;
    margin: 0 2rem;
  }

  /* Problem and Solution */

  .problem_solution {
    background: #ffffff;
    grid-column-gap: 2rem;
    padding-bottom: 4rem;
  }

  .problem {
    grid-column: 3 / span 4;
    margin: 0;
  }

  .solution {
    background: none;
    grid-column: 7 / span 4;
  }

  /* Process Title Section */
  .process_aside {
    background-image: url("../images/Remkeep/process_flow_desktop.png");
  }

  .process_aside .full_width_text {
    grid-column: 1 / span 12;
    width: 60%;
  }

  .process_aside .aside_text {
    padding: 2rem 0;
  }

  /* Competitive Analysis */
  .competitive_analysis table {
    margin: 4rem 0;
  }

  .competitive_analysis .text_container h4 {
    padding-top: 1rem;
  }

  /* User Surveys */
  .survey_section {
    padding-bottom: 2rem;
  }

  .survey_section .text_container {
    margin: auto;
  }

  .survey_section img {
    height: 18rem;
    margin: 2rem auto;
    padding: 0;
    width: auto;
  }

  /* User Personas */
  .persona_tables {
    grid-column: 2 / span 10;
    grid-row: 2;
  }
  .personas {
    grid-column-gap: 2rem;
    padding-bottom: 4rem;
  }

  .persona_img img {
    top: -3.5rem;
  }

  .persona_table {
    grid-column: span 6;
    grid-template-rows: minmax(auto, 10rem) auto auto;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  .persona_quote {
    padding: 1.2vw;
  }

  /* User Stories and User Flows */
  .user_stories_flows {
    padding-bottom: 4rem;
  }

  .user_stories,
  #user_stories_button {
    grid-column: 3 / span 4;
  }

  .user_flows,
  #user_flows_button {
    grid-column: 7 / span 4;
  }

  .user_flows {
    margin-left: 2rem;
  }

  .user_stories_flows .text_container {
    align-self: start;
    margin-top: 0;
  }

  .user_stories_flows .button {
    grid-row: 2;
    margin: auto;
  }

  /* Content Strategy */
  .content_strategy {
    padding-top: 0;
  }

  .content_strategy .text_container {
    margin: 0;
    padding-top: 3rem;
  }

  /* Wireframes */
  .wireframes_heading {
    background-color: rgba(8, 137, 201, 1);
    background-color: var(--blue-bg-color);
    position: relative;
  }

  .wireframes_heading img {
    padding: 2rem;
  }

  .wireframes img {
    align-self: baseline;
    grid-row: 1 / span 2;
    height: 30rem;
    margin-top: 0;
    padding: 2rem 0;
    width: auto;
    z-index: 1;
  }

  .wireframe_top {
    padding-bottom: 2rem;
  }

  .wireframes_content {
    background-color: rgba(156, 207, 232, .25);
    grid-column: 1 / span 12;
    grid-row: 2;
    padding: 2rem 0 4rem 0;
  }

  .wireframes_content .p1 {
    grid-row: 1;
    padding-bottom: 2rem;
  }

  .wireframes_content .p2,
  .wireframes_content .cell_2{
    grid-row: 2;
  }

  .wireframes .wireframes_content .button {
    grid-row: 3;
    margin: 0;
  }

  /* User Testing Round 1 */
  .user_testing {
    padding-bottom: 0;
  }

  .user_testing table{
    table-layout: fixed;
    margin: 2rem 0;
  }

  .user_testing th {
    width: 50%;
  }

  .user_testing .cell_1 {
    grid-row: 2;
  }

  .user_testing .cell_2 {
    grid-row: 2;
  }

  .user_testing .cell_full {
    background-color: rgba(156, 207, 232, .25);
    grid-column: 1 / span 12;
    grid-row: 3;
  }

  .user_testing table tr:nth-child(even) {
    background-color: #fff;
  }

  .user_testing table tr:nth-child(odd) {
    background-color: rgba(242, 242, 242, 1);
  }

  .user_testing .cell_5 {
    grid-row: 4;
    padding-top: 2rem;
  }

  .user_testing .cell_5 .text_container {
    margin-left: 0;
    padding-bottom: 0;
    max-width: 26rem;
  }

  .user_testing .cell_5 .button {
    margin-bottom: 4rem;
    margin-left: 0;
  }

  .user_testing .cell_full .button {
    margin: 0 0 4rem 0;
  }

  /* Brand Strategy heading */
  .brand_strategy_heading {
    background-color: rgba(53, 118, 149, 1);
    background-color: var(--dark-blue);
    background-image: none;
  }

  .brand_strategy_heading h3 {
    white-space: nowrap;
  }

  .brand_strategy_heading .aside_text {
    padding: 2rem 0;
  }

  /* Logo and Color palette */
  .logo_text,
  .color_text {
    background-color: rgba(255, 255, 255, 1);
  }

  /* High Fidelity Prototypes */
  .HF_prototypes {
    padding-bottom: 2rem;
  }

  .HF_prototypes h3 {
    grid-row: 1;
    padding-bottom: 4rem;
    width: 100%;
  }

  .HF_prototypes .cell_1,
  .HF_prototypes .cell_2 {
    grid-row: 2;
  }

  #prototype_links {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
  }

  .prototype_flex_wrap {
    flex: 1 1 auto;
    padding: 2rem 0;
  }

  .prototype_flex_wrap .button {
    margin: 2rem auto;
  }

  /* Preference Testing */
  .PT_1 {
    background-color: rgba(156, 207, 232, .25);
  }

  .PT_2 {
    padding-bottom: 2rem;
  }

  .PT_overlay {
    display: none;
  }

  /* Changes to the High Fidelity Mockup */
  .HF_changes {
    padding-top: 2rem;
  }

  .HF_changes_top,
  .HF_changes_middle {
    background-color: #ffffff;
  }

  .HF_changes img {
    margin: auto;
    padding: 2rem 0;
    width: 90%;
  }

  .HF_changes .cell_1,
  .HF_changes .cell_2 {
    grid-row: 1;
  }

  .visual_changes {
    margin-right: 5vw;
    padding-bottom: 0;
  }

  /* Branding Update */
  .branding_update {
    padding: 4rem 0;
  }

  /* conclusion section */
  .screenshots {
    background-color: rgba(8, 137, 201, 1);
    background-color: var(--blue-bg-color);
    padding: 4rem 5vw;
  }

  .conclusion {
    background-color: rgba(156, 207, 232, .25);
    grid-column: 1 / span 6;
    grid-row: 1;
    padding-bottom: 2rem;
  }

  .conclusion p {
    color: #000000;
  }

  .what_I_learned {
    grid-column: 7 / span 6;
    grid-row: 1;
    padding-bottom: 1rem;
  }

  .conclusion h3, .what_I_learned h3 {
    font-size: 7vw;
    padding: 2rem 0 1rem 0;
  }

  .conclusion h3 {
    color: rgba(53, 118, 149, .75);
  }
}
