.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* Slides */
.slider input {
  display: none;
}

/* Navigation */
.slider input,
.slider label {
  margin-bottom: 1rem;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.slider input:nth-of-type(1),
.slider label:nth-of-type(1) {
  left: calc(50% - 5.4rem);
}

.slider input:nth-of-type(2),
.slider label:nth-of-type(2) {
  left: calc(50% - 3rem);
}

.slider input:nth-of-type(3),
.slider label:nth-of-type(3) {
  left: calc(50% - 0.6rem);
}

.slider input:nth-of-type(4),
.slider label:nth-of-type(4) {
  left: calc(50% + 1.8rem);
}

.slider input:nth-of-type(5),
.slider label:nth-of-type(5) {
  left: calc(50% + 4.2rem);
}

.slider label {
  background-color: rgba(255, 255, 255, .4);
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1.2rem;
  transition: .5s;
  width: 1.2rem;
  z-index: 1;
}

.slider input:checked + label {
  background-color: #ffffff;
}

.slider label:hover {
  background-color: rgba(255, 0, 108, 1);
  background-color: var(--highlight-color);
  opacity: 1;
}

/* Images */
.slides {
  padding-bottom: 3rem;
  position: relative;
  transition: .5s;
  white-space: nowrap;
}

.slides ul {
  display: block;
  overflow: hidden;
  width: 100%;
}

.slides li {
  display: inline-block;
  padding-right: 1rem;
  vertical-align: top;
  opacity: 0;
  transition: .5s;
  width: calc(100% + 1rem);
}

.slides img {
  -moz-box-shadow:    0 .3rem .2rem .05rem rgba(0, 0, 0, .25);
  -webkit-box-shadow: 0 .3rem .2rem .05rem rgba(0, 0, 0, .25);
  box-shadow:         0 .3rem .2rem .05rem rgba(0, 0, 0, .25);
  display: inline;
  height: auto;
  transition: .5s;
  width: calc(100% - 4px);
}

/* Slider translate */
/* Wireframes */
.slider input:nth-of-type(1):checked ~ .slides {
  transform: translate(0);
}

.slider input:nth-of-type(2):checked ~ .slides {
  transform: translate(calc(-100% - 1rem));
}

.slider input:nth-of-type(3):checked ~ .slides {
  transform: translate(calc(-200% - 2rem));
}

.slider input:nth-of-type(4):checked ~ .slides {
  transform: translate(calc(-300% - 3rem));
}

.slider input:nth-of-type(5):checked ~ .slides {
  transform: translate(calc(-400% - 4rem));
}

/* Image opacity */

.slider input:nth-of-type(1):checked ~ .slides li:nth-of-type(1) {
  opacity: 1;
}

.slider input:nth-of-type(2):checked ~ .slides li:nth-of-type(2){
  opacity: 1;
}

.slider input:nth-of-type(3):checked ~ .slides li:nth-of-type(3){
  opacity: 1;
}

.slider input:nth-of-type(4):checked ~ .slides li:nth-of-type(4){
  opacity: 1;
}

.slider input:nth-of-type(5):checked ~ .slides li:nth-of-type(5){
  opacity: 1;
}

@media screen and (min-width: 900px) {

  .slider label {
    height: .8rem;
    width: .8rem;
  }

  .slider input:nth-of-type(1),
  .slider label:nth-of-type(1) {
    left: calc(50% - 4rem);
  }

  .slider input:nth-of-type(2),
  .slider label:nth-of-type(2) {
    left: calc(50% - 2.2rem);
  }

  .slider input:nth-of-type(3),
  .slider label:nth-of-type(3) {
    left: calc(50% - 0.4rem);
  }

  .slider input:nth-of-type(4),
  .slider label:nth-of-type(4) {
    left: calc(50% + 1.4rem);
  }

  .slider input:nth-of-type(5),
  .slider label:nth-of-type(5) {
    left: calc(50% + 3.2rem);
  }
}
