@import url('https://fonts.googleapis.com/css?family=Open+Sans:light,lightitalic,regular,semibold,italic|Song+Myung');

*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --highlight-color: rgba(255, 0, 108, 1);
  --blue-bg-color: rgba(8, 137, 201, 1);
  --lb-bg-color: rgba(156, 207, 232, .25);
  --grey-bg-color: rgba(242, 242, 242, 1);
  --dark-blue: rgba(53, 118, 149, 1);
  --light-blue: rgba(173, 228, 255, .8); /**80% opacity on blue bg**/
  --yellow-text: rgba(237, 169, 68, .7); /**40% and 20% opacity - use with large text on yellow bg only**/

}

html {
  align-content: center;
}

body{
  min-width: 360px;
  max-width: 100%;
}

/* Text styles */
.full_width_text {
  fill: rgba(173, 228, 255, .8);
  fill: var(--light-blue);
  display: inline-block;
  height: auto;
  min-width: 100%;
}

h2 {
  font-family: "Song Myung", Georgia, serif;
  font-size: 5rem;
  line-height: 3.5rem;
  position: relative;
}

h3{ /**large headings**/
  display: block;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 3rem;
  padding-bottom: 2rem;
  position: relative;
  width: 20rem;
    max-width: 90%;
}
h4{ /**small headings**/
  display: inline-block;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.1rem;
  font-weight: 600; /**semi-bold**/
  line-height: 3rem;
  padding: 2rem 0 1rem 0;
  opacity: .6;
}
h5{ /**table headings**/
  font-family: "Open Sans", Arial, sans-serif;
  font-size: .8rem;
  line-height: 3rem;
}
p{ /**body text**/
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
}

/* End of text styles */

img {
  display: block;
  width: 100%;
}

/* Containers */
article {
  overflow: hidden;
  padding: 2rem 0 4rem 0;
}

aside {
  overflow: hidden;
}

.text_container {
  display: block;
  margin: auto;
  width: 20rem;
    max-width: 90%;
}

.lightblue_bg {
  background: rgba(156, 207, 232, .25);
  background: var(--lb-bg-color);
}

.blue_bg {
  background: rgba(8, 137, 201, 1);
  background: var(--blue-bg-color);
  color: #ffffff;
}

.grey_bg {
  background: rgba(242, 242, 242, 1);
  background: var(--grey-bg-color);
}
/* End of containers */

/* Button Style */

.button{
  background: rgba(255, 0, 108, 1);
  background: var(--highlight-color);
  border-radius: calc(12px + .5vw);
  /**top highlight, bottom shadow**/
  -moz-box-shadow:    inset 0 .3rem .8rem .3rem rgba(255, 255, 255, .1), 0 .3rem .2rem .05rem rgba(0, 0, 0, .25);
  -webkit-box-shadow: inset 0 .3rem .8rem .3rem rgba(255, 255, 255, .1), 0 .3rem .2rem .05rem rgba(0, 0, 0, .25);
  box-shadow:         inset 0 .3rem .8rem .3rem rgba(255, 255, 255, .1), 0 .3rem .2rem .05rem rgba(0, 0, 0, .25);
  margin: 2rem auto;
  text-align: center;
  width: 90%;
  max-width: 20rem;
}

.button a{
  color: #ffffff;
  display: block;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1rem;
  line-height: 2.5em;
  text-decoration: none;
}

.button:active {
  -moz-box-shadow:    inset 0 .3rem .8rem .3rem rgba(255, 255, 255, .1);
  -webkit-box-shadow: inset 0 .3rem .8rem .3rem rgba(255, 255, 255, .1);
  box-shadow:         inset 0 .3rem .8rem .3rem rgba(255, 255, 255, .1);
  transform: translateY(.3rem);
}

/* List styles */
.bulleted_list {
  display: block;
  list-style-type: disc;
  padding: 1rem 0 1rem 2rem;
}

.numbered_list {
  display: block;
  list-style-type: decimal;
  padding: 1rem 0 1rem 2rem;
}

.horizontal_icon_list {
  margin: auto;
  width: 90%;
}
@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 100}
}

/* Beginning of nav
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

nav {
  position: fixed;
  z-index: 2;
}

#menuToggle
{
  position: relative;
  top: 1rem;
  left: 1.5rem;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: #000000;

  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #FF006C;
}

#menuToggle input
{
  display: block;
  width: 2rem;
  height: 2rem;
  position: relative;
  left: -.25rem;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 2rem;
  height: .2rem;
  margin-bottom: .4rem;
  position: relative;
  top: -2rem;

  animation-name: fade-in;
  animation-delay: 2.5s;
  animation-duration: 2s;
  animation-fill-mode: backwards;
  background: rgba(53, 118, 149, 1);
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(.25rem, -.05rem);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Oh yeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(.15rem, .30rem);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  box-shadow: .1rem .2rem .5rem .2rem rgba(0,0,0,.25);
  position: absolute;
  width: 20rem;
  margin: -4rem 0 0 -2rem;
  padding: 5rem;
  top: -.5rem;
  padding-top: 7.8125rem;

  background: #f2f2f2;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 1.5rem 0;
  font-size: 1.5rem;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
/* End of nav */

table {
  -moz-box-shadow:    0 .3rem .2rem .05rem rgba(0, 0, 0, .25);
  -webkit-box-shadow: 0 .3rem .2rem .05rem rgba(0, 0, 0, .25);
  box-shadow:         0 .3rem .2rem .05rem rgba(0, 0, 0, .25);
  background-color: #fff;
  border-collapse: collapse;
  margin: 2rem auto;
  text-align: left;
  width: 20rem;
  max-width: 90%;
}

th {
  background-color: rgba(53, 118, 149, 1);
  background-color: var(--dark-blue);
  color: #ffffff;
  padding: 0 1rem;
  width: 100%
}

th h4 {
  font-size: 1.2rem;
  line-height: normal;
  opacity: 1;
  padding: 1rem 0;
}

td {
  padding: .5rem 1rem;
  vertical-align: middle;
  width: 100%;
}

td h4 {
  padding: 0;
  white-space: nowrap;
}

tr:nth-child(even) {
  background-color: rgba(242, 242, 242, 1);
}

/* Projects */

/* Remkeep */
.remkeep_project{
  padding: 2rem 0;
}

.remkeep_project .mobile_display img{
  display: block;
  height: auto;
  position: relative;
    left: 5vw;
  width: 90%;
}

.remkeep_half_container .text_container {
  padding: 0;
}

.remkeep_half_container h3 {
  margin: 0;
  padding-top: 1rem;
}

/** Footer **/
.logo_bar {
  background: rgba(225, 234, 239, 1);
  height: 3rem;
  margin: 6rem 0 2rem 0;
  overflow: visible;
}

.logo_bar img {
  display: block;
  margin: auto;
  position: relative;
  top: -2rem;
  width: 6rem;
}

.logo_bar .logo {
  background: #ffffff;
  margin: auto;
  width: 8rem;
}

.footer_bottom {
  background: rgba(225, 234, 239, 1);
  text-align: center;
  width: 100%;
}

.footer_container {
  padding: 2rem 0 2rem 1rem;
}

.footer_bottom h3 {
  color: rgba(53, 118, 149, 1);
  color: var(--dark-blue);
  font-size: 2rem;
  margin: auto;
  padding: 0 0 1rem 0;
}

.footer_bottom p {
  color: rgba(53, 118, 149, 1);
  color: var(--dark-blue);
  font-family: "Open Sans", Arial, sans-serif;
}

.footer_bottom p a {
  font-size: 1.25rem;
  text-decoration: none;
}

.footer_bottom ul {
  margin-top: 1rem;
}

.footer_bottom li {
  display: inline;
  padding: 1rem;
}

.footer_bottom a {
  color: rgba(53, 118, 149, 1);
  color: var(--dark-blue);
  font-size: 2rem;
}

@media screen and (min-width: 600px) {
  html {
      font-size: 16pt;
  }

  .text_container {
    width: 20rem;
  }

  table {
    width: 20rem;
  }

  /** Nav X **/
  #menuToggle input:checked ~ span {
   opacity: 1;
   transform: rotate(45deg) translate(.19rem, -.05rem);
   background: #232323;
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
   transform: rotate(-45deg) translate(.07rem, .25rem);
  }

  /* Projects */

  /* Remkeep */
  .remkeep_project_text {
    max-width: 13em;
  }
}

@media screen and (max-width: 899.5px) {
  .desktop_display {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  html{
    font-size: 16px;
  }

  .mobile_display {
    display: none;
  }

  h3 {
    font-size: 3rem;
    margin-left: 0;
    padding: 2rem 0;
  }

  article {
    padding-bottom: 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 4vw repeat(10, 1fr) 4vw;
    grid-column-gap: 2rem;
  }

  /* Grid cells */

  /* full width */
  .cell_full {
    grid-column: 2 / span 10;
  }

  /* 1st third */
  .cell_1 {
    grid-column: 2 / span 4;
    margin: 0;
    padding-top: 0;
  }

  /* 2nd third */
  .cell_2 {
    grid-column: 6 / span 4;
    padding-top: 0;
    margin: 0;
  }

  /* 3rd third */
  .cell_3 {
    grid-column: 9 / span 4;
    padding-top: 0;
  }

  /* 1st third vertical centered */
  .cell_1v {
    align-self: center;
    grid-column: 2 / span 4;
    grid-row: 1;
    margin-left: 0;
  }

  .cell_1v h4 {
    padding-top: 0;
  }

  /* 2nd two-thirds */
  .cell_4 {
    align-self: center;
    grid-column: 6 / span 6;
    grid-row: 1;
    margin-left: 0;
  }

  /* 1st half */
  .cell_5 {
    grid-column: 2 / span 5;
    margin-left: 0;
  }

  .grid .button {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0;
  }

  .grid table {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  .full_width_text {
    min-width: 55%;
  }

  .button {
    margin: 0;
    width: max-content;
    max-width: max-content;
  }

  .button a {
    font-size: 2.5vh;
    padding: 0 2rem;
  }

  /** desktop navigation menu **/
  nav {
    position: absolute;
  }

  nav .desktop_display {
    display: grid;
    width: 100vw;
  }

  nav .logo_button {
    grid-row: 1;
    display: inline-block;
    height: auto;
    margin: 2vw 0 0 3vw;
    width: 6vw;
  }

  nav ul {
    grid-row: 1;
    display: inline-block;
    position: relative;
      right: 5vw;
      top: 6vw;
    text-align: right;
  }

  nav li{
    display: inline-block;
    padding: 0 1rem;
  }

  nav a {
    color: rgba(30, 52, 62, .8);
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1rem;
    text-decoration: none;
  }

  nav a:hover {
    color: rgba(255, 0, 108, 1);
    color: var(--highlight-color);
  }

  /* Tables */
  table, th, td {
    width: auto;
  }

  table {
    margin: auto;
    max-width: 90%;
  }

  td {
    vertical-align: top;
  }

  /* Projects */

  /** Remkeep project **/
  .remkeep_project {
    padding: 4rem 0;
    position: relative;
  }

  .remkeep_container {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .remkeep_container .desktop_display {
    grid-column: 2 / span 10;
    grid-row: 1 / span 2;
  }

  .remkeep_half_container {
    grid-column: 7 / span 5;
    grid-row: 2;
  }

  .remkeep_project .text_container {
    margin: 18% 0 0 8%;
    max-width: 30em;
  }

  .remkeep_project_text p{
    font-size: 1.5vw;
    line-height: 2.5vw;
    padding: 0 0 1rem 0;
  }

  .remkeep_project .button{
    margin: 2rem 0 0 8%;
  }

  /* Footer */
  .footer_bottom {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: auto;
    overflow: hidden;
    text-align: left;
  }
  .footer_bottom h2 {
    color: rgba(53, 118, 149, .5);
    grid-column: 1;
    grid-row: 1;
    font-size: 12vw;
    left: -1vw;
    top: 1vw;
  }

  .footer_container {
    grid-column: 2;
    grid-row: 1;
    padding-right: 5vw;
    text-align: right;
  }

  .footer_container ul {
    position: relative;
    right: -1rem;
  }

  .footer_container a:hover {
    color: #FF006C;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 24px;
  }

  .grid {
    grid-template-columns: 12vw repeat(10, 1fr) 12vw;
  }
}
